.appBar {
    background-color: white;
    height: '40px';
}

.black {
    color: black;
}

.gray {
    color: rgba(0,0,0,0.7);
}

.button_white {
    font-size: 0.85em !important;
    /* width: 40px; */
    height: 100%;
    background-color: rgba(0,0,0,0) !important;
    border: 0 !important;
}

.button_white_small {
    font-size: 0.85em !important;
    width: 40px;
    height: 100%;
    background-color: rgba(0,0,0,0) !important;
    border: 0 !important;
}

.typo_space {
    text-align: center;
}

.button_space {
    display: inline;
    height: 100%;
}

.button_space :hover {
    background-color: rgba(0,0,0,0.03) !important;
    color: chocolate;
    font-weight: bold;
}

.account_button_box {
    float: right;
    height: 100%;
}

.toolbar {
    min-height: 40px !important;
    display: inline-block !important;
    width: 98%;
}

.account_img {
    display: inline-block;
    height: 100%;
    color: black;
    text-align: center;
    vertical-align: middle;
}

.account_img :hover {
    color: chocolate;
}

.MuiButton-text {
    padding: 0 !important;
}

.MuiButton-root {
    min-width: 40px !important;
}